* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*---------------------------------header--------------------------------*/

header {
    display: flex;
    background-color: rgba(255, 163, 179, 0.391);
    height: 140px;
}

header nav{
    width: 60%;
}

header div {
    width: 40%;
    display: flex;
}

.logo {
    width: 40%;
    flex-direction: column;
    align-items: center;
    
}

.logo__imagen {
    width: 15%;
    border-radius: 20%;
    margin-top: 5px;
    
}

.logo__titulo{
    font-size: 14px;
    
}

a {
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.navegacion {
    list-style-type: none;
    height: 100%;
    margin-top: 60px;
    display: flex;    
}

.navegacion li a {
    padding: 3px;
    border-radius: 20%;
    font-size: 15px;
    
}

.navegacion li a:hover {
    background-color: rgb(225, 193, 255);
}

/*---------------------------------body--------------------------------*/

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-color: bisque;
    width: 400px;
    border-radius: 5%;
    margin: 50px;
    left: 500px;

}

.inicioDivImg {
    width: 900px;
    height: 800px;
    position: relative;
    left: 300px;
    margin: 10px;
}

.inicioImg {
    width: 100%;
    height: 100%;
    border-radius: 10%;

}

.tituloTexto {
    position: relative;
    width: 270px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    position: absolute;
    top: 160px;
    left: 610px;

}


h3 {
    font-size: 40px;
}

.nosotros {
    height: 600px;
    margin-top:5px;
}

.divImagenNosotros {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
    margin-left: 100px;
    margin-top: 80px
}

.imagenNosotros {
    width: 100%;
    height: 100%;
    right: 100px;
    border-radius: 5%;
    border: 2px solid rgba(229, 78, 78, 0.757);

}

.textoNosotros {
    width: 50%;
    left: 45%;
    top: 40%;
    position: absolute;
    text-align: center;
}



.form_imagen_contactos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 110px;
}

form {
    width: 700px;
    padding: 30px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    text-align: center;
}

.div_imagen {
    width: 300px;
    height: 300px;
}

.imgContacto {
    width: 100%;
    height: 100%;
    margin-left: 60px;
    margin-top: 60px;
}



.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px
}

.galeria img {
    width: 25%;
    opacity: 0.5;
    border-radius: 15px;

}

.galeria img:hover {
    opacity: 1;
    border: 2px solid pink;
}


.imagen {
    display: flex;
    justify-content: center;
}

.imagen img {
    width: 80%;
    height: 80%;
    border-radius: 200px;

}

h1 {
    font-size: 60px;
    text-align: center;
}

.grillaTiramisu1 {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 20% 10% 80%;
    grid-template-areas: "imagen   titulo_receta   titulo_receta"
        "imagen   ingredientes    procedimiento"
        "imagen   ingrDetallado   procDetallado";
    margin: 10px;

}

.tituloReceta {
    grid-area: titulo_receta;
    text-align: center;
    font-size: 30px;

}

.imgReceta {
    grid-area: imagen;

}

div img {
    width: 250px;
    margin: 20px;
}

.ingredientes {
    grid-area: ingredientes;
    height: 100%;
    font-size: 25px;
    text-align: center;

}

.procedimiento {
    grid-area: procedimiento;
    height: 100%;
    font-size: 25px;
    text-align: center;

}

.ingrDetallado {
    grid-area: ingrDetallado;
}

.procDetallado {
    grid-area: procDetallado;
}

.grillaTiramisu2 {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 20% 10% 80%;
    grid-template-areas: "imagen   titulo_receta          titulo_receta"
        "imagen   ingredientes    procedimiento"
        "imagen   ingrDetallado   procDetallado";
    margin: 10px;

}

.tituloReceta {
    grid-area: titulo_receta;
    text-align: center;
    font-size: 30px;

}

.imgReceta {
    grid-area: imagen;

}

div img {
    width: 250px;
    margin: 20px;
    
}

.ingredientes {
    grid-area: ingredientes;
    height: 100%;
    font-size: 25px;
    text-align: center;

}

.procedimiento {
    grid-area: procedimiento;
    height: 100%;
    font-size: 25px;
    text-align: center;

}

.ingrDetallado {
    grid-area: ingrDetallado;
}

.procDetallado {
    grid-area: procDetallado;
}

/*---------------------------------footer--------------------------------*/

footer {
    display: flex;
    background-color: rgba(255, 163, 179, 0.391)
}

footer ul {
    list-style-type: none;
}

footer div {
    width: 80%;
    font-size: 20px;
}

.redesSociales {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

i {
    font-size: 50px;
}

/*
@media screen and (max-width: 1023px){
    
    
    .galeria img {
    width: 45%;    
    }
}*/


@media screen and (max-width: 479px){
    .galeria img {
    width: 100%;    
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}